
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
    <% for(var i=0; i<userFriends.length; i++) {%>
		<tr>
			<td><%=userFriends[i].name%></td>
		</tr>
    	<% } %>
	</tbody>
</table>
